.alert {
    font-size: 20px;
    position: fixed;
    letter-spacing: 2px;
    width: 100%;
    min-height: 50px;
    color: #fff;
    background-color: #000;
    z-index: 10;
    opacity: 0;
    transform: translateY(-100px);
    transition: 0.5s;
}

.alert__active {
    transform: translateY(0);
    opacity: 1;
}

.disabled-link {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.swiper-slide__img {
    object-fit: cover;
    width: 113%;
    text-align: center;
    height: 100vh;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.pagination {
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0.0) 100%);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    transition: 0.2s;
}

.pagination__list {
    padding: 0;
    margin-top: 60px;
    margin-right: 200px;
    margin-left: 200px;
    list-style-type: none;
}

.pagination__item {
    transition: 0.2s;
    padding: 10px 30px;
}

.link {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: #007aff;
    transition: 0.2s;
}

.h-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.global-title {
    color: #fff;
    font-size: 82px;
}

.global-text {
    color: #fff;
    font-size: 24px;
}

.h-content__title {
    text-align: center;
}

.h-content__text {
    text-align: center;
}

.menu-burger {
 display: none;
}

.menu-burger__header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    cursor: pointer;
    transition: transform 200ms;
    user-select: none;
}

.menu-burger__line {
    fill:none;
    transition: stroke-dasharray 200ms, stroke-dashoffset 200ms;
    stroke: #16c79a;
    stroke-width:5.5;
    stroke-linecap:round;
}

.menu-burger__header .top {
    stroke-dasharray: 40 121;
}
.menu-burger__header .bottom {
    stroke-dasharray: 40 121;
}

/* active */
.menu-burger__header.active .top {
    stroke-dashoffset: -68px;
}
.menu-burger__header.active .bottom {
    stroke-dashoffset: -68px;
}

.title-section {
    text-align: center;
    font-size: 62px;
}

.feedback {
    min-height: 1000px;
    padding-top: 100px;
}

.feedback__title {
    color: #000;
}

.feedback__list {
    margin: 100px 20% 30px 20%;
}

.feedback__item {
    width: 50%;
}

.feedback__elem {
    margin-bottom: 35px;
    font-size: 24px;
    position: relative;
}

.feedback__elem input {
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 15px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}

.feedback__elem label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.2s;
    z-index: -1;
}

.feedback__elem input:focus {
    color: #000 !important;
}

::-webkit-input-placeholder {
    opacity: 0;
}

.feedback__elem input:focus+label {
    top: -15px;
    font-size: 18px;
}

.feedback__elem input:not(:placeholder-shown)+label {
    font-size: 0;
}

.feedback__button {
    margin-top: 60px;
    padding: 25px;
    width: 100%;
    border: 1px solid transparent;
    transition: 0.1s;
}

.feedback__button:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}

.button-md {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #086c6c;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
}

.feedback__subTitle {

}

@media (max-width: 1200px) {
    .pagination__list {
        margin-right: 15px;
        margin-left: 15px;
    }

    .global-title {
        color: #fff;
        font-size: 62px;
    }

    .title-section {
        text-align: center;
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .menu-burger {
        display: block;
    }

    .pagination {
        left: -1000%;
    }

    .pagination__active {
        left: 0;
    }

    .title-section {
        text-align: center;
        font-size: 32px;
    }

    .feedback__item {
        width: 100%;
    }
}




