.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.swiper-slide__img {
    object-fit: cover;
    width: 113%;
    text-align: center;
    height: 100vh;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.pagination {
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0.0) 100%);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    transition: 0.2s;
}

.pagination__list {
    padding: 0;
    margin-top: 60px;
    margin-right: 200px;
    margin-left: 200px;
    list-style-type: none;
}

.pagination__item {
    transition: 0.2s;
    padding: 10px 30px;
}

.link {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: #007aff;
    transition: 0.2s;
}

.h-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.global-title {
    color: #fff;
    font-size: 82px;
}

.global-text {
    color: #fff;
    font-size: 24px;
}

.h-content__text {
    text-align: center;
}

.menu-burger {
 display: none;
}

.menu-burger__header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    cursor: pointer;
    transition: transform 200ms;
    user-select: none;
}

.menu-burger__line {
    fill:none;
    transition: stroke-dasharray 200ms, stroke-dashoffset 200ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
}

.menu-burger__header .top {
    stroke-dasharray: 40 121;
}
.menu-burger__header .bottom {
    stroke-dasharray: 40 121;
}

/* active */
.menu-burger__header.active .top {
    stroke-dashoffset: -68px;
}
.menu-burger__header.active .bottom {
    stroke-dashoffset: -68px;
}

@media (max-width: 1200px) {
    .pagination__list {
        margin-right: 15px;
        margin-left: 15px;
    }

    .global-title {
        color: #fff;
        font-size: 62px;
    }
}

@media (max-width: 768px) {
    .menu-burger {
        display: block;
    }

    .pagination {
        left: -1000%;
    }

    .pagination__active {
        left: 0;
    }
}




